<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Clothing Classifier</title>
</head>

<body>
    <div class="mainPage">
	    <h1>Drabužių klasifikavimo modelis</h1>
        <h4>Nuotrauka turi būti images aplanke.</h4>
        <h4>Įrašykite nuotraukos pavadinimą, pvz: batai.jpg</h4>
        <h5>Galimos naudoti drabužių kategorijos: "T-Shirt", "Longsleeve", "Pants", "Shirt", "Dress", "Shorts", "Shoes", "Outwear", "Hat", "Skirt".</h5>

        <form action="{{ url_for('predict')}}"method="post">
    	    <input type="text" name="file" placeholder="Nuotraukos pavadinimas" required="required" />
            <button type="submit" class="btn btn-primary btn-block btn-large">Klasifikuoti</button>
        </form>
        <br>
        <b>{{ prediction_text }}</b>
        <br>
        <img src="{{ image_file }}">
        <br>
    </div>
</body>
</html>